{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <h1>Login</h1>

    <form action="{{ path('app_login') }}" method="post">
        <div>
            <label for="username">Email</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" required autofocus />
        </div>

        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="_password" required />
        </div>

        <div>
            <button type="submit">Login</button>
        </div>

        {% if error %}
            <div>
                <p style="color:red">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
            </div>
        {% endif %}
    </form>

    <a href="{{ path('app_forgot_password') }}">Forgot Password?</a>
{% endblock %}
