{% extends 'base.html.twig' %}

{% block title %}Modifier un Projet{% endblock %}

{% block body %}
    <h2 class="text-xl font-bold mb-4">Modifier le Projet</h2>
    {% include 'project/_form.html.twig' %}
    <a href="{{ path('project_index') }}" class="text-blue-500 hover:underline mt-4 block">Retour à la liste</a>
{% endblock %}
