{% extends 'base.html.twig' %}

{% block title %}Modifier un Livrable{% endblock %}

{% block body %}
    <h2 class="text-xl font-bold mb-4">Modifier le Livrable</h2>
    {% include 'deliverable/_form.html.twig' %}
    <a href="{{ path('deliverable_index') }}" class="text-blue-500 hover:underline mt-4 block">Retour à la liste</a>
{% endblock %}
